.arrow-icon {
  cursor: pointer;
  color: var(--text-color);
  transition: 300ms;
}

.arrow-icon_right {
  transform: rotate(180deg);
}

.arrow-icon_right:hover {
  transform: scale(1.1) rotate(180deg);
}

.arrow-icon_left {
  transform: rotate(0);
}

.arrow-icon_left:hover {
  transform: scale(1.1);
}
