.repo {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--foreground);
}

.repo_preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.repo__arrow-button {
  padding: 20px;
}

.info__container {
  align-self: flex-start;
  height: 100%;
  width: 100%;
}

.repo__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.repo__company {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 4px;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.repo__name {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--constant-accent);
}

.repo__name_preview {
  color: var(--text-color);
}

.repo__description {
  font-weight: 500;
  color: var(--text-color);
  /* stylelint-disable */
  display: -webkit-box;
  /* stylelint-enable */
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.repo__link {
  display: flex;
  flex-direction: row;
  gap: 6px;
  color: var(--text-color);
}

.link__item {
  color: var(--constant-accent);
  cursor: pointer;
}

.repo__tags {
  display: flex;
  flex-flow: row wrap;
}

.tags__item {
  background-color: var(--constant-accent);
  color: var(--constant-white);
  padding: 4px 8px;
  border-radius: 8px;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.repo__counts {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.counts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.counts__title {
  width: 100%;
  color: var(--text-color);
}

@media screen and (max-width: 699px) {
  .repo {
    min-height: 173px;
    width: 100vw;
  }

  .repo_preview {
    padding: 56px 20px 0;
    gap: 12px;
  }

  .repo__info {
    padding: 20px;
    gap: 8px;
  }

  .repo__name {
    font-size: var(--s-font-size);
    line-height: var(--s-line-height);
  }

  .repo__name_preview {
    font-size: var(--xl-font-size);
    line-height: var(--xl-line-height);
    margin-top: -8px;
  }

  .repo__description {
    font-size: var(--font-size);
    line-height: var(--line-height);
  }

  .repo__tags {
    gap: 4px;
  }

  .repo__counts {
    gap: 16px;
  }

  .repo__arrow-button {
    padding: 10px;
  }

  .counts__item_skeleton {
    min-width: 75px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1219px) {
  .repo {
    min-height: 216px;
    width: var(--width-standart);
  }

  .repo_preview {
    padding: 130px 40px 0;
    gap: 20px;
  }

  .repo__info {
    margin: 30px;
    gap: 12px;
  }

  .repo__name {
    font-size: var(--xl-font-size);
    line-height: var(--xl-line-height);
  }

  .repo__name_preview {
    font-size: var(--xxl-font-size);
    line-height: var(--xxl-line-height);
    margin-top: -16px;
  }

  .repo__description {
    font-size: var(--m-font-size);
    line-height: var(--m-line-height);
  }

  .repo__tags {
    gap: 8px;
  }

  .counts__item_skeleton {
    min-width: 90px;
  }
}

@media screen and (min-width: 1220px) {
  .repo {
    min-height: 219px;
    width: 780px;
  }

  .repo_preview {
    max-width: var(--width-standart);
    padding: 80px 30px 50px;
    gap: 20px;
  }

  .repo__info {
    margin: 30px;
    gap: 16px;
  }

  .repo__name {
    font-size: var(--xxl-font-size);
    line-height: var(--xxl-line-height);
  }

  .repo__name_preview {
    margin-top: -16px;
  }

  .repo__description {
    font-size: var(--l-font-size);
    line-height: var(--l-line-height);
  }

  .repo__tags {
    gap: 12px;
  }

  .counts__item_skeleton {
    min-width: 120px;
  }
}
