.content {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.content__error {
  font-weight: 500;
  word-break: break-word;
  text-align: center;
  background-color: var(--foreground);
  padding: 30px 0;
}

@media screen and (max-width: 699px) {
  .content {
    margin-top: 24px;
  }

  .content__error {
    width: 100%;
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1219px) {
  .content {
    margin-top: 30px;
  }

  .content__error {
    width: var(--width-standart);
    font-size: 30px;
    line-height: 37px;
  }
}

@media screen and (min-width: 1220px) {
  .content {
    margin-top: 60px;
  }

  .content__error {
    width: var(--width-large);
    font-size: 36px;
    line-height: 46px;
  }
}
