.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--foreground);
  display: flex;
}

.modal__children {
  min-width: 100%;
  min-height: 100%;
}

.modal__exit {
  position: fixed;
  top: 22px;
  right: 22px;
}

.modal-animation-enter {
  opacity: 0;
  transition: all 300ms ease-in;
}

.modal-animation-enter-active {
  opacity: 1;
}

.modal-animation-exit {
  opacity: 1;
  transition: all 300ms ease-in;
}

.modal-animation-exit-active {
  opacity: 0;
}

@media screen and (min-width: 700px) and (max-width: 1219px) {
  .modal__exit {
    top: 53px;
    right: 43px;
  }
}

@media screen and (min-width: 1220px) {
  .modal {
    background: var(--modal-desktop-background);
    justify-content: center;
    align-items: center;
  }

  .modal__children {
    position: relative;
    min-width: 780px;
    min-height: 421px;
    background: var(--foreground);
  }

  .modal__exit {
    position: absolute;
  }
}
