@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*:not(svg *) {
  all: unset;
  display: revert;
}

:root {
  font-family: Rubik, sans-serif;

  /** color constants */
  --constant-white: #fff;
  --constant-black: #262a2f;
  --constant-light: #eaeaea;
  --constant-dark: #1e2028;
  --constant-accent: #0083fc;
  --constant-grey: #b5b5b5;
  --constant-black-alpha90: #000000e5;
  --constant-black-alpha64: #000000a3;
  --constant-white-alpha64: #ffffffa3;

  /** depended colors */
  --text-color: var(--constant-black);
  --background: var(--constant-white);
  --foreground: var(--constant-light);
  --modal-desktop-background: var(--constant-black-alpha64);

  /** skeleton */
  --skeleton-color: var(--constant-grey);
  --skeleton-gradient: linear-gradient(to right, transparent 0%, var(--constant-white-alpha64) 100%);

  /** width */
  --width-standart: 664px;
  --width-large: 940px;

  /** fonts */

  /** xs */
  --xs-font-size: 14px;
  --xs-line-height: 18px;

  /** s */
  --s-font-size: 16px;
  --s-line-height: 21px;

  /** m */
  --m-font-size: 18px;
  --m-line-height: 24px;

  /** l */
  --l-font-size: 20px;
  --l-line-height: 26px;

  /** xl */
  --xl-font-size: 30px;
  --xl-line-height: 36px;

  /** xxl */
  --xxl-font-size: 40px;
  --xxl-line-height: 47px;

  /** xxxl */
  --xxxl-font-size: 50px;
  --xxxl-line-height: 59px;

  /** standart font */
  --font-size: var(--xs-font-size);
  --line-height: var(--xs-line-height);

  color-scheme: light;
}

[scheme="dark"] {
  --background: var(--constant-black);
  --foreground: var(--constant-dark);
  --text-color: var(--constant-white);
  --modal-desktop-background: var(--constant-black-alpha90);

  color-scheme: dark;
}

body {
  margin: 0 auto;
}

.skeleton-gradient {
  background-size: 200% 100%;
  background-attachment: fixed;
  background-image: var(--skeleton-gradient);
  animation: skeleton-gradient-animation 1000ms linear infinite;
}

@keyframes skeleton-gradient-animation {
  from {
    background-position: 100% 0;
  }

  to {
    background-position: -100% 0;
  }
}

.prevent-scroll {
  overflow: hidden;
}

@media screen and (max-width: 699px) {
  :root {
    --font-size: var(--xs-font-size);
    --line-height: var(--xs-line-height);
  }
}

@media screen and (min-width: 700px) and (max-width: 1219px) {
  :root {
    --font-size: var(--s-font-size);
    --line-height: var(--s-line-height);
  }
}

@media screen and (min-width: 1220px) {
  :root {
    --font-size: var(--m-font-size);
    --line-height: var(--m-line-height);
  }
}
