.header {
  display: flex;
  margin: auto;
}

.header__title {
  color: var(--text-color);
  word-break: break-word;
  font-weight: 700;
  text-transform: uppercase;
}

.header__toggler {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

@media screen and (max-width: 699px) {
  .header {
    justify-content: flex-start;
    width: 100%;
  }

  .header__title {
    font-size: var(--xl-font-size);
    line-height: var(--xl-line-height);
    padding: 30px 20px 24px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1219px) {
  .header {
    justify-content: flex-start;
    width: var(--width-standart);
    padding: 50px 40px 30px;
  }

  .header__title {
    font-size: var(--xxl-font-size);
    line-height: var(--xxl-line-height);
  }
}

@media screen and (min-width: 1220px) {
  .header {
    justify-content: center;
    width: var(--width-large);
    padding: 60px 0;
  }

  .header__title {
    font-size: var(--xxxl-font-size);
    line-height: var(--xxxl-line-height);
    text-align: center;
  }
}
