.skeleton-text {
  display: block;
  color: var(--skeleton-color);
  width: 100%;
}

.skeleton-text_primary {
  color: var(--constant-accent);
  width: 70%;
}

.skeleton-text__row {
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1em;
  background-color: currentcolor;
}

.skeleton-text__row:last-child:not(:first-child) {
  width: 80%;
}
